
:root {
    --text-neon-blue: #04a1cd;
    --text-white: #fff;
    --text-dark: #212f3b;
    --transition-speed: 600ms;
  }

body {
    background-color: var(--text-dark);  
}

#main-header {
    background-image: url(../images/main-bg-dark.png);
}

.dropdown-menu{
    background-color: var(--text-dark);
}

.text-color-toggle{
    color: var(--text-white);
}

.navbar a{
    color: var(--text-white);
}

.navbar a:hover{
    color: var(--text-neon-blue);
}

.special-a{
    color: var(--text-neon-blue);
}
