:root {
	--text-neon-blue: #5f52e7;
	--text-white: #fff;
	--text-dark: #212f3b;
	--dark-bg: #212f3b;
	--transition-speed: 200ms;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
}

/*Scroll bar*/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--text-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--text-neon-blue);
}

/*Flex details*/
.item-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-row > * {
	margin: 1rem;
}




/*Colour details*/
.dark-bg {
	background-color: var(--dark-bg);
}

.item-white {
	color: var(--text-white);
}

h1,h2,h3,h3,h4,h5{
	color: var(--text-neon-blue);
	font-weight: bold;
}

.special-icons{
	color: white;
	transition: 300ms linear all;
}

.special-icons:hover{
	color: var(--text-neon-blue);
}

.navbar a{
	color: var(--text-dark);
    font-weight: bold;
    transition: 200ms linear;
}


.navbar a:hover{
    color: var(--text-neon-blue);
}

.text-color-toggle{
    color: var(--text-dark);
}


/*Masive image*/
#main-header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url(../images/main-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/*Image details*/
.responsive {
	display: block;
	width: 100%;
	height: auto;
}


/*Bootstrap Navbar*/
.collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.8s ease;
		 -o-transition: height 0.8s ease;
			transition: height 0.8s ease;
  }

.dropdown-menu{
	-webkit-transition: height 0.8s ease;
		 -o-transition: height 0.8s ease;
			transition: height 0.8s ease;
}

/*Navbar btn*/
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
	outline: 0;
}
.navbar-nav > li {
	padding-left: 1rem;
}

.dropdown-menu .dropdown-item:hover{
    background-color: transparent;
}

