:root {
	--text-neon-blue: #04a1cd;
	--text-white: #fff;
	--text-dark: #212f3b;
	--dark-bg: #343a40;
	--transition-speed: 200ms;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Montserrat', sans-serif;
	display: none;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: var(--text-dark);
}

::-webkit-scrollbar-thumb {
	background: var(--text-neon-blue);
}

/*Flex details*/
.item-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.item-row > * {
	margin: 1rem;
}

/*Spacing details*/
.padder-y {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.marginer-x {
	margin-left: 5rem;
	margin-right: 5rem;
}

.marginer-y {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.marginer-y-sm{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 992px) {
	.marginer-x {
		margin-left: 2rem;
		margin-right: 2rem;
    }
    
    .padder-y{
        padding-top: 2rem;
	    padding-bottom: 2rem;
    }
}

/*Colour details*/
.dark-bg {
	background-color: var(--dark-bg);
}

.item-white {
	color: var(--text-white);
}

h1,h2,h3,h3,h4,h5{
    color: var(--text-neon-blue);
}

.navbar a{
    font-weight: 500;
    transition: 200ms linear;
}

/*Masive image*/
#main-header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;
}

/*Navbar btn*/
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,205,224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler:focus {
	outline: 0;
}
.navbar-nav > li {
	padding-left: 1rem;
}

.dropdown-menu .dropdown-item:hover{
    background-color: transparent;
}

/*Image details*/
.responsive {
	display: block;
	width: 100%;
	height: auto;
}










/*Slider details*/
input[type="checkbox"] {
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	position: fixed;
	right: 25px;
	bottom: 5px;
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: grey;
	border-radius: 100px;
}
label:after {
	content: "";
	position: absolute;
	top: 1.25px;
	left: 1.25px;
	width: 23.5px;
	height: 22.5px;
	background: var(--text-white);
	border-radius: 22.5px;
	transition: 0.4s;
}
input:checked + label {
	background: var(--text-neon-blue);
}
input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}
label:active:after {
	width: 30px;
}
