html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*Scroll bar*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #212f3b;
}

::-webkit-scrollbar-thumb {
  background: #0076fc;
}

/*Flex details*/
.item-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-row > * {
  margin: 1rem;
}

p {
  font-size: 15px;
}

/*Colour details*/
.dark-bg {
  background-color: #100f10;
}

.gray-bg {
  background-color: #f6f9fc;
}

.item-white {
  color: #fff;
}

h1,
h2,
h3,
h3,
h4,
h5 {
  font-weight: bold;
}

.special-icons {
  color: white;
  -webkit-transition: 300ms linear all;
  transition: 300ms linear all;
}

.special-icons:hover {
  color: #0076fc;
}

.navbar a {
  color: #212f3b;
  font-weight: bold;
  -webkit-transition: 200ms linear;
  transition: 200ms linear;
}

.navbar a:hover {
  color: #0076fc;
}

.text-color-toggle {
  color: #212f3b;
}

.header-lg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.header-sm {
  height: 20px;
  -webkit-animation-name: backgroundColorPalette;
          animation-name: backgroundColorPalette;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*Image details*/
.responsive {
  display: block;
  width: 100%;
  height: auto;
}

/*Bootstrap Navbar*/
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
}

.dropdown-menu {
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
}

/*Navbar btn*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus {
  outline: 0;
}

.navbar-nav > li {
  padding-left: 1rem;
}

.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.light-hover {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.light-hover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.grayscale {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.grayscale:hover {
  -webkit-filter: none;
          filter: none;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.rotate:hover {
  -webkit-animation: rotation 7s infinite linear;
          animation: rotation 7s infinite linear;
}

.big-icon {
  font-size: 5rem;
}

/* Standard syntax */
@-webkit-keyframes backgroundColorPalette {
  0% {
    background: #0e014b;
  }
  25% {
    background: #36034d;
  }
  50% {
    background: #5339c7;
  }
  75% {
    background: #521475;
  }
  100% {
    background: #150734;
  }
}
@keyframes backgroundColorPalette {
  0% {
    background: #0e014b;
  }
  25% {
    background: #36034d;
  }
  50% {
    background: #5339c7;
  }
  75% {
    background: #521475;
  }
  100% {
    background: #150734;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=style.css.map */