

/* Standard syntax */
@keyframes backgroundColorPalette {
	0% {
		background: #5c5ef3;
	}
	25% {
		background: #8a3ffc;
	}
	50% {
		background: #3032aa;
	}
	75% {
		background: rgb(101, 8, 189);
	}
	100% {
		background: #0d48b8;
	}
}


@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes rotation {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0deg);
	}
}

